<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<VMF_Settings.Tab.Main>メイン</VMF_Settings.Tab.Main>
	<VMF_Settings.Tab.PUAHPatch>PUAHパッチ</VMF_Settings.Tab.PUAHPatch>

	<VMF_Settings.DrawPlanet>キャラバン中にワールドマップを描画する.</VMF_Settings.DrawPlanet>
	<VMF_Settings.RoofedPatch>車両マップの屋根判定にベースマップの屋根も参照する.\n(パフォーマンスに影響します)</VMF_Settings.RoofedPatch>
	<VMF_Settings.WeightFactor>車両マップの上の物の重さ係数.</VMF_Settings.WeightFactor>
	<VMF_Settings.ThreadingPathCost>大きな乗り物における経路コスト計算のマルチスレッド化.</VMF_Settings.ThreadingPathCost>
	<VMF_Settings.MinAreaForThreading>マルチスレッドで計算される乗り物の最小面積.</VMF_Settings.MinAreaForThreading>
	<VMF_Settings.AsyncClosestThing>到達可能な最も近い物を取得する計算のマルチスレッド化.</VMF_Settings.AsyncClosestThing>
	<VMF_Settings.MinSearchSetCount>マルチスレッドで計算されるサーチセットの最小数.</VMF_Settings.MinSearchSetCount>

</LanguageData>