<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<VMF_Settings.Tab.Main>Main</VMF_Settings.Tab.Main>
	<VMF_Settings.Tab.PUAHPatch>PUAH Patch</VMF_Settings.Tab.PUAHPatch>
	
	<VMF_Settings.DrawPlanet>Draw the world map during caravan.</VMF_Settings.DrawPlanet>
	<VMF_Settings.RoofedPatch>Refer also to roofed on base map for roofed on vehicle map.\n(Impact to performance)</VMF_Settings.RoofedPatch>
	<VMF_Settings.WeightFactor>Weight factor of things on the vehicle map.</VMF_Settings.WeightFactor>
	<VMF_Settings.ThreadingPathCost>Multi-threading for path cost calculations on large vehicles.</VMF_Settings.ThreadingPathCost>
	<VMF_Settings.MinAreaForThreading>Minimum area of vehicle calculated in multi-threading.</VMF_Settings.MinAreaForThreading>
	<VMF_Settings.AsyncClosestThing>Multi-threading of calculations to get closest reachable thing.</VMF_Settings.AsyncClosestThing>
	<VMF_Settings.MinSearchSetCount>Minimum search set count calculated in multi-threading.</VMF_Settings.MinSearchSetCount>

</LanguageData>